@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: Roboto;
	word-wrap: break-word;
	box-sizing: border-box;
}

::-webkit-scrollbar-track {
	background-color: #000000;
}

::-webkit-scrollbar {
	width: 14px;
}

::-webkit-scrollbar-thumb {
	background-color: #9c9c9c;
}

textarea {
	height: auto;
	min-height: 22px;
	max-height: auto;
	overflow-y: hidden;
}

.borderAnimateStart {
	animation: borderMoveStart 0.5s ease-out;
}

.borderAnimateEnd {
	animation: borderMoveEnd 0.5s ease-out;
}

@keyframes borderMoveStart {
	from {
		box-shadow: 0 0 0 1px #676767;
	}
	to {
		box-shadow: 0 0 0 1px transparent;
	}
}

@keyframes borderMoveEnd {
	from {
		box-shadow: 0 0 0 1px #676767;
	}
	to {
		box-shadow: 0 0 0 1px transparent;
	}
}
